.logos{
  width: 100%;
  height: 30%;

}
.logos img{
  width: 45%;
  height: 25vh;
  /* outline: 2px solid red; */

}

@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  display: flex;
  width: max-content;
  animation: infinite-scroll 40s linear infinite;
}






@media screen and (max-width: 1000px) {
  .toobig{
    font-size: 1.5rem;
    line-height: 40px;
  }
  

.toobig{
  font-size: 2rem;
  width: 95%;
  margin: auto;
  /* outline: 2px solid red; */
  line-height: 50px;
}
.too{
   width: 95%;
  margin: auto;

}
.toop{
  font-size: 2rem;
}

}

.slidingcomp{
  animation: 3s ease-in alternate;
  
}